<div class="container">
  <h1>Smart Guitar 1.0 </h1>

  <!-- Dropdown to select the root note -->
  <label for="note">Select a Note:</label>
  <select id="note" [(ngModel)]="selectedNote">
    <option *ngFor="let note of notes" [value]="note">{{ note }}</option>
  </select>

    <!-- Radio buttons to select display mode -->
    <label>
      <input type="radio" name="displayMode" value="Chord" [(ngModel)]="displayMode"> Chord
    </label>
    <label>
      <input type="radio" name="displayMode" value="Scale" [(ngModel)]="displayMode"> Scale
    </label>

    <div *ngIf="displayMode === 'Chord'">
      <label for="chord">Select a Chord:</label>
    
    
      <select id="chord" [(ngModel)]="selectedChord">
        <option *ngFor="let chord of  chordFormulas | keyvalue" [value]="chord.key">{{ chord.key }}</option>
      </select>
    </div>
    <div *ngIf="displayMode === 'Scale'">
     <!-- Dropdown to select the scale type -->
 <label for="scale">Select a Scale:</label>
 <select id="scale" [(ngModel)]="selectedScale">
   <option *ngFor="let scale of  scaleFormulas | keyvalue" [value]="scale.key">{{ scale.key }}</option>
 </select>
 </div>

 <div *ngIf="clickedNote" class="clicked-note">
  <p>You clicked: {{ clickedNote }}</p>
</div>

   <!-- Play button -->
   <button (click)="play()">Play {{ displayMode }}</button>


 <h2>Fretboard</h2>
  <!-- Render the fretboard dynamically based on the selected mode -->
  <div class="fretboard">


    <!--div *ngFor="let string of getFretboard(); let stringIndex = index" class="string"-->
      <div *ngFor="let string of renderFretboard(); let stringIndex = index" class="string">
      <div *ngFor="let fret of string; let fretIndex = index" class="fret" > 
        <div  
        class="fret" 
        [class.highlight]="fret.isPartOfChordOrScale"
        [class.root]="isRootNote(fret.note)"
        [class.animated]="isAnimated(fret.note)"
        [class.small]="!fret.isPartOfChordOrScale"
        [class.caged]="fret.isPartOfCAGEDShape"
        [class.selected-chord]="fret.isPartOfSelectedChord"
        (click)="playNote(fret.note, stringIndex, fretIndex)">
     {{ fret.note }}
       </div>
      </div>

    
  </div>

  </div>

  <div class="string-numbers">
    <div *ngFor="let stringNumber of [ ]">{{ stringNumber }}</div>
  </div>


 <!--  <label for="caged-patterns">Select CAGED Patterns:</label>
  <select id="caged-patterns" [(ngModel)]="selectedCAGEDPatterns" multiple>
    <option *ngFor="let pattern of ['C', 'A', 'G', 'E', 'D']" [value]="pattern">{{ pattern }} Shape</option>
  </select> -->

  
<!-- Chord Sequence Suggestions -->
<!-- <h2>Chord Sequence Suggestions</h2>
<div class="chord-sequence">
  <div *ngFor="let chord of getChordSequence()" class="chord-card">
    <p><strong>{{ chord.note }}</strong> {{ chord.chord }}</p>
  </div>
</div>
<button (click)="playChordSequence()">Play Sequence</button> -->

 

  <h2>Chord Sequence Suggestions</h2>
  <div class="chord-sequence">
    <div *ngFor="let chord of getChordSequence(); let index= index" class="chord-card" 
    class="chord-card" 
    [class.active]="index === activeChordIndex" 
    (click)="toggleChordOnFretboard(chord)">
      <p><strong>{{ chord.note }}</strong> {{ chord.chord }}</p>
    </div>
  </div>
  <button (click)="playChordSequence()" [disabled]="isSequencePlaying">Play Sequence</button>


<!-- Display clicked note -->
<div *ngIf="clickedNote" class="clicked-note">
  <p>You clicked: {{ clickedNote }}</p>
</div>
  
 

  <fieldset>
    <legend>Select CAGED Shapes:</legend>
    <div *ngFor="let shape of cagedShapes">
      <label>
        <input type="checkbox" (change)="toggleCAGEDShape(shape)" [checked]="selectedCAGEDShapes.includes(shape)" />
        {{ shape }} Shape
      </label>
    </div>
  </fieldset>

  <br><br>

  <button (click)="discoverDevices()">Discover Devices</button>

  <!-- List of discovered devices -->
  <ul>
    <li *ngFor="let device of bluetoothDevices">
      {{ device.name || 'Unnamed Device' }}
      <button (click)="connectToDevice(device)">Connect</button>
    </li>
  </ul>

  <!-- Disconnect button -->
  <div *ngIf="connectedDevice">
    <p>Connected to: {{ connectedDevice.name }}</p>
    <button (click)="disconnectDevice()">Disconnect</button>
  </div>



</div>

 

